body {
  background-color: #548687;
  text-align: center;
}
.container {
  height: 65vh;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.box {
  height: 16vmin;
  width: 16vmin;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: purple;
  background-color: wheat;
}
.box:hover {
  background-color: skyblue;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
  transition-delay: 0.01s;
}
.reset .rstbtn {
  width: 100px;
  height: 40px;
  background-color: black;
  border-radius: 0.5rem;
  border-style: none;
  margin-top: -20px;
  color: wheat;
}
.newgame {
  background-color: black;
  border-radius: 0.5rem;
  border-style: none;
  color: wheat;
  width: 100px;
  height: 40px;
}
.rstbtn:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}
.newgame:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}
.hide {
  display: none;
}
.hudu{
  display: none;
}